<% include layout/head %>

<div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <p>Hi, <%=user.get('username')%> / <%=character.get('name')%></p>

    <div id="gridplay">
    </div>

    <% ['sell', 'buy'].forEach(function (type) { %>
        <% if ('sell' == type) { %>
            <h2>Sell</h2>
        <% } else { %>
            <h2>Buy</h2>
        <% } %>
        <ul class="marketorders">
            <% orders[type].forEach(function (order) { %>
                <li>
                    <a class="showInfo" href=""
                        data-typeID="3867" data-itemID="<%= order.stationID %>"><%= order.stationName %></a> - 
                    <a class="showMarketDetails" href=""
                        data-typeID="<%=order.typeID%>"><%= order.typeName %></a>
                    <%= order.price %>
                </li>
            <% }) %>
        </ul>
    <% }) %>

</div>

<% include layout/foot %>
