<% include layout/head %>
    <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <p>Hi, <%=user.get('username')%> / <%=character.get('name')%></p>

    <% ['sell', 'buy'].forEach(function (type) { %>
        <% if ('sell' == type) { %>
            <h2>Sell</h2>
        <% } else { %>
            <h2>Buy</h2>
        <% } %>
        <ul class="marketorders">
            <% orders[type].forEach(function (order) { %>
                <li>
                    <a href="" data-typeID="<%=order.typeID%>"><%= order.typeName %></a>
                    - <%= order.price %>
                </li>
            <% }) %>
        </ul>
    <% }) %>

</div>
<% include layout/foot %>
